{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% set viz_name = src | split(pat="?") | first | split(pat="/") | last %}
{% set static_path = "/viz/" ~ viz_name ~ ".svg" %}
{% set caption = caption | default(value="Visualization: " ~ viz_name | replace(from="-", to=" ") | replace(from="_", to=" ")) %}
<figure class="viz-embed" data-viz-src="{{ src }}">
  <img src="{{ static_path }}" alt="{{ caption }}" loading="lazy" />
  <figcaption>{{ caption }}</figcaption>
  <noscript><a href="{{ src }}">{{ caption }}</a></noscript>
</figure>
